.admin {
  &__container {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  &__btn {
    width: 300px;
    color: $blueColor;
    border: 1px solid $blueColor;
    border-radius: 40px;
    padding: 10px 0;
    background: transparent;
    transition: $standartTrans;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:hover {
      background: $blueColor;
      color: #fff;
    }
  }
}